h1.label{
    font-size: 32px;
    color: peachpuff;
    margin: 10px;
    padding: 5px;
}
.label {
    font-size: 18px;
    color: maroon;
}
span.label{
    font-size: 16px;
}
/* a space indicates descendants.*/
form div {
    border: 2px dashed blue;
}
form{
   ?*percentages in CSS are relative. in this case, relative to the container*/
    height: 60%;
    width: 60%;
    background-color: burlywood;
    border: 3px inset orangered;
    border-radius: 10px;

}

/* specificity: the selctor w the most IDs is the most specific*/
/* same number of IDs? most classes is most specific*/
/* same number of IDs and Classes? most native elements is most specific*/